#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    height: 100vh;
    background-color: $darkerblue!important;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

header {
    background-color: $darkblue;
    padding: 1rem;
    border-bottom: 10px solid $darkerblue;
}

.spotify-logo {
    width: 50px;
    fill: $green;
}

.box_img {
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    margin-bottom: 1rem;
}
